.barra {
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    background: rgba(43, 124, 255, 0.458);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    font-size: 14px;
    

}
::placeholder {
    color: white;
    font-family: cursive;
}

.search {
    
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    background: rgba(43, 124, 255, 0.458);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    font-family: cursive;
    font-size: 12px;
    



}
.search:hover {
    background-color: rgb(255, 255, 255) ;
    transition: 0.8s;
    border: 1px 0px 0px 0px;
    text-decoration: underline;
    
}

/********************************************************************/

