.navContainer {
    background: rgba(0, 68, 255, 0.227);
    box-shadow: 0 1px 10px 0 rgba(3, 90, 253, 0.523);
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
   height: 40px;
    
    display: flex;
    justify-content :space-between;
    align-items: center;
}

.home {
    width: 100px;
    height: 40px;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: cursive;
    cursor: pointer;
}
.home:hover {
    background: rgb(38, 230, 230);
    transition: 1s;
    color: black;
    border-radius: 0px 5px 5px 0px;
}


.newRecipe{
    width: 150px;
    height: 40px;
    background: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: cursive;
    cursor: pointer;

}

.newRecipe:hover {
    background: rgb(38, 230, 230);
    transition: 0.8s;
    color: black;
    border-radius: 5px 0px 0px 5px;
    transition: 1s;
}